<h1>List.js</h1>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
<!-- example: https://listjs.com/examples/add-get-remove/ -->

<div id="contacts" class="table-responsive">
  <table class="table align-middle table-secondary">
    <thead class="table-dark">
      <tr>
        <th class="sort" data-sort="name">Name</th>
        <th class="sort" data-sort="age">Age</th>
        <th class="sort" data-sort="city">City</th>
        <th colspan="2">
          <input type="text" class="search" placeholder="Search contact" />
        </th>
      </tr>
    </thead>
    <tbody class="list">
      <tr class="align-bottom">
        <td class="id" style="display:none;">1</td>
        <td class="name">Jonny</td>
        <td class="age">27</td>
        <td class="city">Stockholm</td>
        <td class="edit"><button class="edit-item-btn btn btn-sm btn-warning">Edit</button></td>
        <td class="remove"><button class="remove-item-btn btn btn-sm btn-danger">Remove</button></td>
      </tr>
      <tr class="align-bottom">
        <td class="id" style="display:none;">2</td>
        <td class="name">Jonas</td>
        <td class="age">-132</td>
        <td class="city">Berlin</td>
        <td class="edit"><button class="edit-item-btn btn btn-sm btn-warning">Edit</button></td>
        <td class="remove"><button class="remove-item-btn btn btn-sm btn-danger">Remove</button></td>
      </tr>
      <tr class="align-bottom">
        <td class="id" style="display:none;">3</td>
        <td class="name">Gustaf</td>
        <td class="age">-23</td>
        <td class="city">Sundsvall</td>
        <td class="edit"><button class="edit-item-btn btn btn-sm btn-warning">Edit</button></td>
        <td class="remove"><button class="remove-item-btn btn btn-sm btn-danger">Remove</button></td>
      </tr>
      <tr class="align-bottom">
        <td class="id" style="display:none;">4</td>
        <td class="name">Fredrik</td>
        <td class="age">26</td>
        <td class="city">Goteborg</td>
        <td class="edit"><button class="edit-item-btn btn btn-sm btn-warning">Edit</button></td>
        <td class="remove"><button class="remove-item-btn btn btn-sm btn-danger">Remove</button></td>
      </tr>
    </tbody>
  </table>
  <table>
    <td class="name">
      <input type="hidden" id="id-field" #idField />
      <input type="text" id="name-field" #nameField placeholder="Name" />
    </td>
    <td class="age">
      <input type="text" id="age-field" #ageField placeholder="Age" />
    </td>
    <td class="city">
      <input type="text" id="city-field" #cityField placeholder="City" />
    </td>
    <td class="add">
      <button id="add-btn" class="btn btn-sm btn-success">Add</button>
      <button id="edit-btn" class="btn btn-sm btn-warning">Edit</button>
    </td>
  </table>
